body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

/* Nav Menu */
.nav-menu {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.nav-menu a {
  text-decoration: none;
  color: black;
}

.logo {
  font-size: 1.5rem;
}

.logged-out {
  display: flex;
  flex-direction: row;
}

.logged-in {
  display: flex;
  flex-direction: row;
}

ul {
  list-style: none;
  margin: 0;
  margin-left: auto;
}

li {
  display: inline-block;
  margin: 0 1rem;
}

/* Homepage Hero  */
.hero-image {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("./images/tea-img.jpg") center/cover no-repeat;
}

.hero-title {
  text-align: center;
  font-size: 2rem;
}

@media (min-width: 1024px) {
  .hero-title {
    font-size: 2.5rem;
  }
}

.shop-now-btn {
  text-align: center;
}

/* Not Found */
.notfound {
  text-align: center;
  font-size: 30px;
}

.notfound1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.recommendations {
  text-align: center;
}
/* Routes */
.routes {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

/* Shop Products */
.allProductsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  padding: 0;
  margin: 0;
  max-width: 1500px;
}

.productCardOutline {
  border: 1px solid transparent;
  width: 280px;
  border-radius: 5px;
  padding: 0.5em;
  transition: box-shadow 0.1s ease-in-out;
  box-shadow: 0.8px 0.9px 3px rgb(187, 187, 187);
  margin: 0.3em;
}

.productCardOutline:hover {
  box-shadow: 0.8px 0.9px 3px rgb(118, 203, 231);
}

.productContainer {
  height: auto;
  width: 240px;
  display: flex;
  flex-direction: column;
  padding: 0.5em 0;
  margin: 0.3em;
}

.productContainer * {
  margin: 0.3em 0;
  color: black;
}

.productContainer img {
  height: 200px;
  width: auto;
}

.productContainer .nameAndPrice {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: space-between;
}

.productName {
  font-weight: bold;
  max-width: 120px;
}

/* Single Product */
.singleProductContainer {
  display: flex;
  flex-direction: column;
  min-width: 600px;
}

.singleProductDescription {
  line-height: 1.4em;
  width: 320px;
}

.singleProductCard {
  display: flex;
  padding: 1em;
  border: 1px solid lightgrey;
  border-radius: 5px;
  box-shadow: 0.8px 0.9px 2px rgb(199, 199, 199);
  width: 660px;
  height: 374px;
}

.singleProductCard img {
  height: 100%;
  width: auto;
  max-height: 240px;
  align-self: center;
}

/* User info */
.userProfile {
  display: flex;
}

.profileAndBlank {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profileContainer {
  width: 1000px;
  margin: 0 auto;
}

.ordersLabel,
.profileLabel {
  margin: 1em 0;
  font-size: 18px;
}

.userProfileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100px;
  box-shadow: 0.8px 0.9px 3px rgb(8, 8, 8);
  padding: 1em;
}

.userProfileInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5em 0;
  width: 300px;
}

.userProfileContainer button {
  width: 200px;
  align-self: center;
  margin-top: 1em;
}

.userProfileContainer button:hover {
  background-color: #757575;
  color: white;
}
/* Cart */
.cart-container {
  width: 30px;
}

/* Account Form */
.account-form {
  display: flex;
  justify-content: center;
}

/* Recommended */
.recommended-title {
  display: block;
  text-align: center;
  padding: 2%;
}

.recommended-title h1 {
  color: black;
  font-size: larger;
}

.recommended-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1%;
}
