body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.navbar-item {
  padding: 0;
}

.navbar-menu {
  align-items: center;
  justify-content: space-between;
}

.buttons .button {
  margin: 0;
}

.hero-body {
  text-align: center;
}
